<!doctype html>
<html lang="en">

<head>
    <%- partial('components/site/head') %>
</head>

<body>
    <%- partial('components/header') %>
    <div class="container">
        <%- body %>
    </div>
    <%- partial('components/site/foot') %>
</body>

</html>
