// Color system

$color-dark: #182330;
$color-light: #b4e1fd;

$color-black: #363636;
$color-red: #ff0883;
$color-green: #83ff08;
$color-yellow: #ff8308;
$color-blue: #0883ff;
$color-magenta: #8308ff;
$color-teal: #08ff83;
$color-white: #b6b6b6;

$color-black-bold: #424242;
$color-red-bold: #ff1e8e;
$color-green-bold: #8eff1e;
$color-yellow-bold: #ff8e1e;
$color-blue-bold: #1e8eff;
$color-magenta-bold: #8e1eff;
$color-teal-bold: #1eff8e;
$color-white-bold: #c2c2c2;

$color-background: $color-dark;
$color-foreground: $color-light;

$color-01: $color-black;
$color-02: $color-red;
$color-03: $color-green;
$color-04: $color-yellow;
$color-05: $color-blue;
$color-06: $color-magenta;
$color-07: $color-teal;
$color-08: $color-white;

$color-09: $color-black-bold;
$color-10: $color-red-bold;
$color-11: $color-green-bold;
$color-12: $color-yellow-bold;
$color-13: $color-blue-bold;
$color-14: $color-magenta-bold;
$color-15: $color-teal-bold;
$color-16: $color-white-bold;

// Fonts
$font-family: monospace;

// Spacing
$spacer: 20px;
